## Ignore Visual Studio temporary files, build results, and user-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# .NET
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/

# VS Code
.vscode/

# Rider
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# macOS
.DS_Store

# Logs
*.log

# Local env files
.env
.env.*
